/* html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    background: #6169d6;
}

.content {
    padding: 0 0 100px;
}
 */
.footer {
    /*     margin: -100px 0 0 0;
    height: 100px;
    background: #6169d6;
    position: relative; */
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: #6169d6;

}